<div class="container">
  <section class="section">
    <h2>Custom input</h2>
    <app-simple-custom-input [formControl]="inputTest"></app-simple-custom-input>
    <div>Value: {{ inputTest.value }}</div>
    <div>Touched: {{ inputTest.touched }}</div>
    <div>Dirty: {{ inputTest.dirty}}</div>
  </section>
  <section class="section">
    <h2>Input length</h2>
    <app-input-length [formControl]="inputTest2"></app-input-length>
    <div>Value: {{ inputTest2.value }}</div>
    <div>Touched: {{ inputTest2.touched }}</div>
    <div>Dirty: {{ inputTest2.dirty}}</div>
  </section>
  <section class="section">
    <h2>Input length</h2>
    <app-custom-autocomplete-input [formControl]="customAutocomplete"></app-custom-autocomplete-input>
    <div>Value: {{ customAutocomplete.value | json }}</div>
    <div>Touched: {{ customAutocomplete.touched }}</div>
    <div>Dirty: {{ customAutocomplete.dirty}}</div>
  </section>
</div>